@model IEnumerable<CommunityMedicine.Models.NewCenter>

@{
    ViewBag.Title = "Index";
}
<html>
<h2>Hospital Name</h2>

<body onload=" myFunction() ">

<table class="table" id="myTable">
    <thead>
    <tr>
        <p>Hello PDF</p>
    </tr>
    <tr>
        <th style="color: cadetblue">
            Center Name
        </th>
        <th style="color: cadetblue">
            Center Code
        </th>
        <th style="color: cadetblue">
            Password
        </th>
        <th></th>
    </tr>
    </thead>

   

        <tr>
            <td>
                @ViewBag.name
            </td>
            <td>
                @ViewBag.center
            </td>
            <td>
                @ViewBag.password
            </td>

        </tr>
   

</table>

</body>
</html>

@section scripts
{
    <script src="~/Scripts/tableExport.js"></script>
    <script src="~/Scripts/jquery.base64.js"></script>

    <script src="~/Scripts/sprintf.js"></script>
    <script src="~/Scripts/jspdf.js"></script>
    <script src="~/Scripts/base64.js"></script>

    <script type="text/javascript">
        //$(document).ready(function () {

        //    $("#myBsdfsdfdfsutton").click(function () {
        //        $('#myTable').tableExport({ type: 'pdf', escape: 'false', ignoreColumn: [3, 4] });
        //    });


        //});

        function myFunction() {
            //alert("Page Load");
            $('#myTable').tableExport({ type: 'pdf', escape: 'false', ignoreColumn: [4,5]});
        }

    </script>
}